# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Optional: Build artifacts
dist/
build/
coverage/

# Optional: Environment variables
.env
.env.local
.env.*.local

# Optional: IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Optional: Test reports
junit.xml